fastapi==0.115.12
python-multipart==0.0.20
uvicorn[standard]==0.34.2
sse-starlette==2.3.3
pydantic==2.11.2
pyyaml==6.0.2
watchdog==6.0.0
google-genai==1.14.0
deepeval>=2.0
numpy>=2.0
SavConverter==0.1.1
